.car {
  flex-shrink: 0;
  flex-grow: 1;
}

.car-description {
  margin: 60px auto 0;
  width: 100%;
  height: 800px;
  background-color: #dfdfdf;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../../../images/Airbrash/car2.jpg");
  background-size: cover;
}

.car-description__title {
  margin: 0 auto;
  padding: 150px 0 50px;
  max-width: 500px;
  font-size: 45px;
  color: #fbd784;
}

.car-description__subtitle {
  margin: 0 auto;
  max-width: 600px;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .car-description {
    height: 670px;
  }
}

@media screen and (max-width: 768px) {
  .car-description {
    height: 500px;
  }

  .car-description__title {
    padding-top: 50px;
    font-size: 40px;
  }
}

@media screen and (max-width: 425px) {
  .car-description {
    height: 280px;
  }
  .car-description__title {
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 30px;
  }
  .car-description__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .car-description {
    height: 220px;
  }
  .car-description__title {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 25px;
  }
  .car-description__subtitle {
    font-size: 11px;
  }
}
