.page {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: #242b33;
}

@import url(../../components/Header/Header.css);
@import url(../../components/Header/Navbar/Navbar.css);
@import url(../../components/Slider/Slider.css);
@import url(../../components/Information/Information.css);
@import url(../../components/Options/Options.css);
@import url(../../components/Price/Price.css);
@import url(../../components/Application/Application.css);
@import url(../../components/Footer/Footer.css);
@import url(../../components/Plan/Plan.css);
