.information {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1024px;
  color: #fff;
}

.information__title {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  font-size: 45px;
  text-align: center;
  border-bottom: 2px solid #9f9fa0;
  color: #fbd784;
}

.information__subtitle {
  font-size: 19px;
  line-height: 35px;
}

@media screen and (max-width: 768px) {
  .information {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .information {
    text-align: center;
  }

  .information__title {
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .information__subtitle {
    font-size: 12px;
  }
}
