.price {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1024px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.price__table {
  width: 1024px;
  margin: 0 auto;
  border-collapse: collapse;
}

.price__table-header {
  background-color: #9f9fa0;
  color: #202020;
  height: 30px;
  font-size: 25px;
}

.price__table-row {
  height: 40px;
  font-size: 20px;
}

.price__table-row:hover {
  background-color: #e8edec;
  color: #202020;
  cursor: pointer;
}

.price__btn {
  margin: 100px auto 0;
  width: 290px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  background-color: rgb(1 149 195);
  color: #fff;
  font-weight: 500;
  font-size: 23px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 1060px) {
  .price__table {
    width: 700px;
  }

  .price__table-row {
    font-size: 18px;
  }
}

@media screen and (max-width: 730px) {
  .price__table {
    width: 560px;
  }
}

@media screen and (max-width: 600px) {
  .price {
    margin-bottom: 50px;
  }

  .price__table {
    width: 390px;
  }

  .price__table-header {
    font-size: 18px;
  }

  .price__table-row {
    height: 30px;
    font-size: 12px;
  }

  .price__btn {
    margin-top: 50px;
    width: 220px;
    height: 40px;
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  .price__table {
    width: 280px;
  }

  .price__table-header {
    font-size: 16px;
  }

  .price__table-row {
    font-size: 10px;
  }

  .price__btn {
    width: 200px;
    height: 35px;
    font-size: 16px;
  }
}
