.review {
  margin: 0 auto;
  max-width: 1440px;
  color: #fff;
  flex-shrink: 0;
  flex-grow: 1;
}

.review__title {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  color: #fbd784;
  font-size: 45px;
}

.review__container {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.review__block {
  max-width: 600px;
}

.review__subtitle {
  margin: 0;
  color: #aeaeae;
}

.review__img {
  width: 500px;
  height: 500px;
  border-radius: 30px;
}

.review__btn {
  display: block;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 315px;
  width: 300px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: rgb(1 149 195);
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  cursor: pointer;
}
