.review {
  margin: 0 auto;
  max-width: 1440px;
  color: #fff;
  flex-shrink: 0;
  flex-grow: 1;
}

.review__title {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  color: #fbd784;
  font-size: 45px;
}

.review__container {
  padding: 0 10px;
  gap: 50px;
  display: flex;
  justify-content: space-between;
}

.review__block {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review__subtitle {
  max-width: 700px;
  margin: 0;
  padding-bottom: 10px;
  color: #aeaeae;
}

.review__img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 30px;
}

.review__btn {
  display: block;
  text-align: center;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(1 149 195);
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 805px) {
  .review__subtitle {
    font-size: 13px;
  }
  .review__img {
    max-height: 350px;
  }
}

@media screen and (max-width: 720px) {
  .review__btn {
    width: 250px;
    height: 40px;
    font-size: 22px;
  }

  .review__container {
    gap: 25px;
  }
}

@media screen and (max-width: 585px) {
  .review__img {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  .review__title {
    margin-bottom: 25px;
    font-size: 35px;
  }

  .review__btn {
    margin: 0 auto;
  }
}
