.user-reviews {
  max-width: 1440px;
  margin: 100px auto;
  padding: 0 10px;
  text-align: center;
}

.user-review__title {
  margin-bottom: 100px;
  font-size: 45px;
  color: #fbd784;
}

.user-reviews__title_active {
  display: none;
}

.user-review__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 50px;
}

.user-reviews__container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user-review__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 10px #fbd784;
  object-fit: cover;
}

.user-review__name {
  color: #fbd784;
}

.user-review__text {
  text-align: justify;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .user-review__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 890px) {
  .user-reviews__container {
    margin: 0 auto;
    max-width: 600px;
  }

  .user-review__block {
    max-width: 420px;
  }
}

@media screen and (max-width: 800px) {
  .user-review__img {
    width: 100px;
    height: 100px;
    border: solid 7px #fbd784;
  }

  .user-review__text {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .user-review__section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
  }

  .user-review__title {
    margin-bottom: 50px;
  }
}
