.user-reviews {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 50px;
}

.user-reviews__container {
  display: flex;
  gap: 30px;
}

.user-review__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 10px #fbd784;
  object-fit: cover;
}

.user-review__name {
  color: #fbd784;
}
