.review {
  margin: 0 auto;
  max-width: 1440px;
  color: #fff;
  flex-shrink: 0;
  flex-grow: 1;
}

.review__title {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  color: #fbd784;
  font-size: 45px;
}

.review__container {
  display: flex;
  justify-content: space-between;
}

.review__block {
  max-width: 600px;
}

.review__subtitle {
  margin: 0;
  color: #aeaeae;
}

.review__img {
  width: 700px;
  height: 700px;
}
