.application {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 160px;
  background-image: url(../../images/form-place.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.application-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.application-form__title {
  margin-bottom: 70px;
  color: #fff;
  font-size: 35px;
}

.application-form__block {
  margin-bottom: 70px;
  width: 650px;
  height: 50px;
  display: flex;
  align-items: center;
}

.application-form__line {
  width: 330px;
  height: 4px;
  background-color: #fff;
}

.application-form__icon {
  width: 40px;
  height: 40px;
  background-image: url("../../images/phone-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.application-form__btn {
  margin-top: 30px;
  margin-bottom: 315px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: rgb(1 149 195);
  color: #fff;
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

.application-form__container {
  width: 650px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.application-form__input {
  width: 325px;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
}

.application-form__text {
  width: 640px;
  height: 100px;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 1440px) {
  .application-form__btn {
    width: 200px;
    height: 40px;
    font-size: 20px;
  }
}
