.application {
  max-width: 1440px;
  margin: 0 auto 100px;
  padding-top: 160px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../../images/form-place.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.application-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.application-form__title {
  margin-bottom: 70px;
  color: #fff;
  font-size: 35px;
}

.application-form__block {
  margin-bottom: 70px;
  width: 640px;
  height: 50px;
  display: flex;
  align-items: center;
}

.application-form__line {
  width: 330px;
  height: 4px;
  background-color: #fff;
}

.application-form__icon {
  width: 40px;
  height: 40px;
  background-image: url("../../images/phone-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.application-form__btn {
  margin-top: 30px;
  margin-bottom: 315px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: rgb(1 149 195);
  color: #fff;
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

.application-form__container {
  width: 640px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.application-form__input {
  width: 325px;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
}

.application-form__text {
  width: 640px;
  height: 100px;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .application-form__title {
    font-size: 30px;
  }

  .application-form__icon {
    width: 30px;
    height: 30px;
  }

  .application-form__block {
    width: 550px;
  }
  .application-form__line {
    width: 260px;
  }

  .application-form__container {
    width: 550px;
  }

  .application-form__text {
    width: 550px;
  }

  .application-form__btn {
    margin-bottom: 160px;
    width: 240px;
    height: 40px;
    font-size: 26px;
  }
}

@media screen and (max-width: 600px) {
  .application-form__title {
    font-size: 25px;
  }

  .application-form__icon {
    width: 30px;
    height: 30px;
  }

  .application-form__block {
    width: 400px;
  }
  .application-form__line {
    width: 190px;
  }

  .application-form__input {
    width: 195px;
  }

  .application-form__container {
    width: 400px;
  }

  .application-form__text {
    width: 400px;
  }
}

@media screen and (max-width: 425px) {
  .application {
    padding-top: 70px;
  }

  .application-form__title {
    margin-bottom: 50px;
    font-size: 22px;
  }

  .application-form__block {
    margin-bottom: 50px;
    width: 340px;
  }
  .application-form__line {
    width: 155px;
  }

  .application-form__input {
    width: 165px;
  }

  .application-form__container {
    width: 340px;
  }

  .application-form__text {
    width: 340px;
  }

  .application-form__btn {
    margin-bottom: 50px;
    width: 200px;
    height: 35px;
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  .application-form__title {
    font-size: 18px;
  }

  .application-form__block {
    width: 310px;
  }
  .application-form__line {
    width: 145px;
  }

  .application-form__input {
    width: 150px;
  }

  .application-form__container {
    width: 310px;
  }

  .application-form__text {
    width: 310px;
  }

  .application-form__btn {
    font-size: 18px;
  }
}
