.description-car {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto 100px;
  color: #fff;
}

.description-car__title {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  font-size: 45px;
  text-align: center;
  border-bottom: 2px solid #9f9fa0;
  color: #fbd784;
}

.description-car__subtitle {
  margin-bottom: 50px;
  font-size: 32px;
  text-align: center;
  color: #fbd784;
}

.description-car__item {
  margin: 0 auto 30px;
  padding-left: 10px;
  max-width: 1030px;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: #dfdfdf;
  color: #545151;
  border-radius: 15px;
  font-size: 19px;
}

.description-car__list {
  padding: 0;
  list-style-type: none;
}

.description-car__span {
  padding: 0 10px 0 0;
  color: #000000;
  font-size: 21px;
}

.description-car__text {
  font-size: 19px;
  text-indent: 30px;
}

@media screen and (max-width: 1100px) {
  .description-car__item {
    height: 65px;
  }
}

@media screen and (max-width: 680px) {
  .description-car__item {
    height: 65px;
  }

  .span-item {
    max-width: 83px;
  }
}

@media screen and (max-width: 630px) {
  .description-car__item {
    height: 90px;
  }
}

@media screen and (max-width: 470px) {
  .description-car__title {
    font-size: 30px;
  }

  .description-car__subtitle {
    margin-bottom: 30px;
    font-size: 22px;
  }

  .description-car__text {
    font-size: 14px;
  }

  .description-car__item {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .description-car__span {
    font-size: 18px;
  }
}
