.why-us {
  margin: 0 auto;
  max-width: 1440px;
  height: 1000px;
  background-color: #dfdfdf;
  color: #545151;
  border-radius: 25px;
}

.why-us__title {
  padding-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
  font-size: 45px;
}

.why-us__container {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 50px;
}

.why-us__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-us__card-img {
  width: 70px;
  height: 70px;
}

.why-us__card-title {
  color: #000;
}

.why-us__card-description {
  max-width: 300px;
  text-align: center;
}

.why-us__span {
  color: #1f1d18;
  font-size: 21px;
}

@media screen and (max-width: 806px) {
  .why-us__card-img {
    width: 50px;
    height: 50px;
  }
  .why-us__span {
    font-size: 18px;
  }

  .why-us__card-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 615px) {
  .why-us {
    height: 1270px;
  }
  .why-us__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

@media screen and (max-width: 548px) {
  .why-us {
    height: 1370px;
  }
}

@media screen and (max-width: 502px) {
  .why-us {
    height: 1570px;
  }
}

@media screen and (max-width: 425px) {
  .why-us {
    width: 350px;
    height: 1700px;
  }

  .why-us__title {
    font-size: 20px;
  }

  .why-us__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    row-gap: 25px;
  }

  .why-us__card-description {
    font-size: 12px;
  }

  .why-us__span {
    font-size: 16px;
  }
}

@media screen and (max-width: 370px) {
  .why-us {
    width: 300px;
  }
}
