.footer {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  flex-shrink: 0;
}

.footer__contacts {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.footer__social {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.footer__logo {
  width: 150px;
  height: 50px;
}

.footer__social-link {
  gap: 10px;
}

.footer__links {
  display: flex;
  text-decoration: none;
  color: #fff;
}

.footer__text {
  text-align: center;
  margin: 0;
}

.footer__social-text {
  margin: 0;
}

.footer__social-text:hover {
  color: #9d9d9d;
}

.footer__social-text:active {
  color: #000000;
}

.footer__social-text:focus {
  color: #9d9d9d;
}
.footer__contacts-icon {
  padding-right: 10px;
}
