.footer {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  flex-shrink: 0;
}

.footer__block {
  width: 400px;
}

.footer__contacts {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.footer__whatsapp {
}

.footer__logo {
  width: 115px;
  height: 35px;
}

.footer__links {
  display: flex;
  text-decoration: none;
  color: #fff;
}

/* .footer__links-whatsapp {
  width: 170px;
  display: flex;
  align-items: center;
} */
