.about-airbrushing {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1440px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.about-airbrushing__span {
  color: #fbd784;
}

.about-airbrushing__line {
  max-width: 1440px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 2px solid #9f9fa0;
}

.about-airbrushing__subtitle {
  margin-bottom: 5px;
  max-width: 1440px;
  font-size: 19px;
  line-height: 35px;
  text-indent: 30px;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .about-airbrushing__subtitle {
    font-size: 13px;
    line-height: 20px;
  }
}
